@import "_ww.scss";

$padding-md-button: 8px;
$padding-md-button-total: $padding-md-button * 2; // Includes up/down (or left/right)

// Create classes for icons
@mixin md-icon-size($size) {
	.md-icon-button {
		&.s#{$size} {
			width: ($size + $padding-md-button-total);
			height: ($size + $padding-md-button-total);
		}
	}

	md-icon {
		&.s#{$size} {
			width: $size + 0px;
			height: auto;
		}
	}
}

@include md-icon-size(32)
@include md-icon-size(48)
@include md-icon-size(64)
