$padding-normal: 4px;
$padding-medium: 6px;
$padding-large: 10px;

$font-size-medium: 1.25em;
$font-size-logo: 5em;

$product-title: rgb(215, 40, 34);
$product-subtitle: rgb(167, 169, 172);
$color-wirewerks: #0084cb;

$transition-common: all 0.2s ease;
$transition-parts: all 1s ease;

$z-overlay: 10;				// 100 goes above md-select which is not good.

html, body {
}

ww-app {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	position: relative;

	background-image: url('/images/general/background_dots_alpha.png');
	background-size: 50%;
	background-repeat: no-repeat;
	background-position: top left;

	md-content {
		display:flex;
		flex-grow: 1;
		flex-direction: column;
		background: transparent;
	}

	.product {
		padding-left:10px;
	}
	md-toolbar.header {
		display: block;

		.wirewerks-logo {
			max-height: 30px;
		}

		.spheres-logo {
			max-height: 45px;
			margin-right: 10px;
		}

		@media (max-width: 600px) {
			.wirewerks-logo {
				max-height: 16px;
			}

			.spheres-logo {
				max-height: 25px;
			}
		}

		.md-toolbar-tools {
		}

		.md-button.menu,
		.md-button.home {
			padding-right: 0;
			margin-right: 0;
			padding-left: 0;
			margin-left: 0;

			md-icon {
				margin-left: 8px;
			}
		}

		ww-product-selection {
			flex-grow: 1;

			md-content {
				padding-left: 0;
				padding-right: 0;
			}
		}

		md-icon {
			color: white;
			fill: white;
		}

		.badge {
			display: block;
			cursor:pointer;
			position: absolute;
			top: 10px;
			right: 20px;
			line-height: 16px;
			padding: 0 5px;
			font-family: Arial, sans-serif;
			font-size:75%;
			color: white;
			text-shadow: 0 1px rgba(black, .25);
			border: 1px solid;
			border-radius: 3px;
			vertical-align: middle;
			background: $color-wirewerks;
			border-color: $color-wirewerks;
			-webkit-touch-callout: none;
			-webkit-user-select: none;
			-khtml-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
			user-select: none;
		}
	}

	.app-footer {
		display: flex;
		flex-direction: column;
		justify-content: space-between;


		.top {
			flex-grow: 1;
		}

		.bottom {
			display: flex;
			flex-direction: column;
		}

		md-divider {
			min-width: 85%;
			line-height: 0;
			padding: $padding-normal $padding-medium 0 $padding-medium ;
			border-top-color: rgba(255, 255, 255, 0.3);
			align-self: center;
		}

		.copyright {
			padding: $padding-medium;
			align-self: flex-end;
		}
	}
}

ww-home {
	.logo {
		color: $color-wirewerks;
		font-size: $font-size-logo;
	}

	md-content {
		display:flex;
		flex-direction:row;
		justify-content: center;

		md-card {
			width: 250px;

			img {
				cursor: pointer;
			}

			md-card-title {
				cursor: pointer;
			}

			&.products {

			}
		}

	}
}

$connector-img-size: 37%;
$connector-border-color: rgba(63, 81, 181, 0.2);
$connector-shadow-size: 3px;

@mixin contour() {
	box-shadow: $connector-shadow-size $connector-shadow-size $connector-shadow-size 0px $connector-border-color;
	border: 1px solid $connector-border-color;
}

@mixin connector() {
	width: $connector-img-size;
	margin: 10px;
	@include contour();
}

ww-product {
	product-header {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		.title {
			color: $product-title;
			font-weight: 800;
			margin: $padding-large;
		}

		.subtitle {
			color: $product-subtitle;
			font-weight: bold;
			margin: $padding-medium;
		}

		.parts-description {
			display: flex;
			justify-content: flex-end;
		}

		.datasheet {
			display: inline-block;
		}

		ww-order-number {
			display: block;
			text-transform: uppercase;
			font-weight: bold;
			font-size: $font-size-medium;
			color: slategrey;

			.md-button {
				text-transform: none !important;
			}

			.part {
				color: white;
				padding: 0 $padding-normal;
			}
		}
	}

	ww-product-image {
		max-width: 500px;
		min-height: 274px; // Give a minimum size so there's no "jerk" when selecting first part

		.image-container {
		}

		.product-image {
		}
	}
}

ww-product-image {
	display: inline-block;
	margin: auto;					// Center everything

	.image-container {
		display: inline-block; // Only size to cable image size
		position: relative;
		max-width: 100%;
		max-height: 100%;
	}

	.product-image {
		max-width: 100%;
		max-height: 100%;
		border: 1px solid $connector-border-color;
	}

	.connectorA {
		@include connector();
		position: absolute;
		top: 0;
		left: 0;
	}

	.connectorB {
		@include connector();
		position: absolute;
		bottom: 0;
		right: 0;
	}
}

ww-order {
	display: block;

	// Should probably put following in "ww-product-page" or something.*[]:
	overflow: hidden;
	md-sidenav {
		min-width: 350px;
	}
}

ww-part-groups {
	display: flex;
	padding: $padding-medium;
	flex-shrink: 0;
}

ww-part-group {
	display: flex;
	padding: 0 $padding-normal;
	flex-shrink: 0;
}

ww-part-category {
	$card-shadow: 1px 4px 10px -3px gray;

	display: block;
	position: relative;
	flex-grow: 1;
	flex-shrink: 0;

	.part-column {
		margin: 0 1px;
		box-shadow: none;

		selection-overlay {
			background: rgba(10, 0, 40, 0.6);				// Category with no selection
		}

		category-header {
			box-shadow: $card-shadow;
		}

		&.picked {
			selection-overlay.inactive {
				background: rgba(0, 0, 0, 0.5);			// Not picked, in a category with a selection
			}
			selection-overlay.active {
				background: transparent;
			}

			category-header {
				opacity: 1;
			}
		}

		&.nav-focused {
			box-shadow: $card-shadow;

			selection-overlay {
				background: rgba(0, 0, 0, 0.15);		// Not picked, in the currently focused category
			}

			category-header {
				opacity: 1;
				box-shadow: none;
			}

			ww-part {
				transition: $transition-parts;
				opacity: 1;
				pointer-events: auto;

				&.selected {
					opacity: 0;
					pointer-events: none;
				}
			}
		}
	}


	.content {
		position: relative;

		ww-part {
			transition: $transition-parts;
			opacity: 0;
			pointer-events: none;

			&.selected {
				position: absolute;
				width: 100%;
				opacity: 1;
				pointer-events: auto;
			}
		}
	}

	category-header {
		display: block;
		position: relative;

		label {
			display: flex;
			justify-content: center;
			z-index: $z-overlay + 1;

			color: white;
			font-size: 1.25em;
			text-transform: uppercase;
			font-weight: bold;
			padding: $padding-normal;
			text-align: center;
		}
	}
}

* {
	outline: none
}

$border-size: 2px;
ww-part {
	display: block;

	input[type=number]::-webkit-inner-spin-button,
	input[type=number]::-webkit-outer-spin-button {
		-webkit-appearance: none;
		margin: 0;
	}

	.invalid {
		pointer-events: none;
		opacity : 0.01;
	}

	.content {
		position: relative;
	}

	header {
		display: flex;
		justify-content: center;

		font-weight: bold;
		padding: $padding-normal;
	}

	attribute {
		display: flex;
		justify-content: center;


		label {
			text-align: center;
			&.bold {
				font-weight: bold;
			}
		}
	}

	attributes {
		display: block;
		padding: $padding-large $padding-normal;
		background: #e6e6e6;
	}

	&:hover {
		selection-overlay {
			background: rgba(0, 0, 0, 0.1)
		}
	}

	.no-animate {
		-webkit-transition: none !important;
		transition: none !important;
	}
}

ww-product-selection {
	display: block;

	form {
		display: flex;
		align-items: center;

		.md-title {
			padding: 0 $padding-large 0 0;
		}

		md-autocomplete {
			flex-grow: 1;

			// Need to be fixed width, otherwise autocomplete box will not always be the same size (ie: if an 'x' appears in the input line)
			max-width: 500px;
		}
	}

	.header {
		.md-title {
			display: inline;
		}
	}
}

overlay {
	display: flex;
	z-index: $z-overlay;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	pointer-events: none;

	transition: $transition-common;

	&.inactive {
		background: rgba(0, 0, 0, 0.1);
	}
}

selection-overlay {
	@extend overlay;

	&.active {
		border {
			border: solid $border-size #4478ff;
		}
	}

	border {
		flex-grow: 1;
	}
}

/*
@media all and (orientation: portrait) {
}
*/

ww-cart {
	display: flex;
	flex-grow: 1;
	flex-direction: column;

	.cart {
		display: flex;
		flex-direction: column;
	}

	.cartClientInfo {
		padding: 5px 5px 5px 5px;
		display: flex;

		md-input-container {
			min-width : 33%;
		}

	}

	.cartSubmit {
		padding: $padding-large $padding-normal;
	}

	.empty {
		display: flex;
		justify-content: center;

		.md-headline {
			color: $color-wirewerks;
		}
	}

	.cartItemImage {
		width : 70px;
		min-width : 70px;
		height : 70px;
		overflow:hidden;
		text-align: center;
		line-height: 64px;
		span {
			display: inline-block;
			vertical-align: middle;
			line-height: normal;
		}

		display: flex;
		align-items: center;
		justify-content: center;

		.cable {
			margin: auto;
			vertical-align: middle;
			border: none;
		}

		.connectorA {
			margin: 2px;
		}

		.connectorB {
			margin: 2px;
		}
	}

	.cartItemDescription {
		cursor:pointer;
		width:200px;
		min-height:50px;
		flex-grow:1;
		padding : 5px 5px 5px 5px;
	}

	.cartItemQuantity {
		height : 50px;
		padding : 5px 5px 5px 5px;
	}
	.cartItem {
		justify-content:space-between;
		align-items : center;
		display: flex;
		min-height : 70px;
		flex-direction : row;
		padding: 2px 2px 2px 2px;
		margin:2px 2px 2px 2px;
		background-color:white;
	}
	.cartItemRemove {
		height : 50px;
		padding : 5px 5px 5px 5px;
	}

	.cartItemHeader{
		display: flex;
		justify-content:space-between;
		padding: 2px 2px 2px 2px;
		margin:2px 2px 2px 2px;
		border-bottom-color: $color-wirewerks;
		border-bottom-width: 3px;
		border-bottom-style:solid;

		.cartItemHeaderPart{
			padding-left:2px;
			font-weight: bold;
			color:$color-wirewerks;
		}

		.cartItemHeaderQuantity{
			padding-right:128px;
			font-weight: bold;
			color:$color-wirewerks;
		}
	}
}

ng-switch {
	display: block;
}

ww-product-nav {
	display: block;
}

ww-section-selection {
	display: block;
}

md-option {
	em {
		font-weight: bold;
		font-style: normal;
	}
}

em {
	&.heavy {
		font-style: italic;
		font-weight: bold;
	}
}

ww-product-list-item {
	display: block;
}

ww-carousel {
	$focused-item-z: 75;

	display: block;
	position: relative;
	width: 100%;

	.container {
		position: relative;
		overflow: hidden;
	}

	.items-container {
		height: 100%;
	}

	.bg-overlay {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		pointer-events: none;
		z-index: $focused-item-z - 5;

		&.light {
			background: rgba(255, 255, 255, 0.7);
		}

		&.dark {
			background: rgba(0, 0, 0, 0.7);
		}
	}

	.carousel-item {
		position: absolute;

		&.carousel-focused {
		}
	}
}
