<div class="row">
    <div ng-if="cartIsEmpty" class="col-xs-12">
        <label>Your cart is empty!</label>
    </div>

    <table ng-if="!cartIsEmpty" class="col-xs-12" style="border-spacing: 10px;">
        <tr ng-repeat="item in cart | filter:{isRemoved:false} | orderBy:'orderDateTime':'reverse=true'" class="cart-row hidden-before-load">
            
            <td class="cart-img-container" ng-click="goToProduct(item)">
                <img style="cursor: pointer" class="thumbnail" ng-src="{{item.imgUrl}}" backupSrc="{{item.backupImgUrl}}" ng-show="item.imgUrl != null" onerror="var src = this.getAttribute('backupSrc'); this.src=src; this.setAttribute('backupSrc', 'images/missing_img.png')"/>
            </td>
            
            <td class="cart-partNumber-container">
                <div>
                    <label class="cart-partNumber" ng-click="goToProduct(item)">{{item.sectionDescription}} – {{item.partNumber}}</label>
                </div>
                <div>
                    <span><b>Datasheet: </b>{{item.datasheet}}</label>
                </div>
                <div>
                    <span ng-bind-html="getAsHtml(item.description)"></span>
                </div>
                <div>
                    <span ng-bind-html="getAsHtml(item.details)"></span>
                </div>    
            </td>
            
            <td class="cart-quantity-td">
                <div class="cart-quantity-container">
                    <div class="input-quantity-container">
                        <input ng-model="item.quantityInput" type="text" ng-paste="onPasteNumericInput()" ng-change="onChangeNumericInput()" ng-keypress="onKeypressNumericInput()" class="input-quantity">
                        <button ng-click="onClickQuantityUpdate(item)" ng-show="quantityInputIsValid(item)" class="input-quantity-btn btn btn-warning">Update</button>
                    </div>
                </div>
            </td>

            <td class="cart-remove-container">
                <span class="glyphicon glyphicon-remove-circle removePopover" data-key={{item.key}} data-title="Delete item from cart?" data-placement="bottom"></span>           
            </td>
        </tr>
    </table>
</div>