<md-toolbar class="header">
		<div class="md-toolbar-tools">

			<md-button class="md-icon-button menu s32" ng-click="$ctrl.toggleNavigation()" hide-gt-md>
				<md-icon md-svg-icon="images/svg/general/menu.svg" class="s32" aria-label="label"></md-icon>
			</md-button>

			<md-button class="md-icon-button home s32" ng-click="$ctrl.app.goToHome()">
				<md-icon md-svg-icon="images/svg/general/home.svg" class="s32" aria-label="label"></md-icon>
			</md-button>

			<ww-product-selection product-id="$ctrl.id"></ww-product-selection>

			<span flex></span>

			<md-button class="md-icon-button cart s32" ng-click="$ctrl.app.toggleCart()">
				<md-icon md-svg-icon="images/svg/general/shopping-cart.svg" class="s32" aria-label="label"></md-icon>
			</md-button>
			<span class="badge">{{$ctrl.app.getCartNbItem()}}</span>
		</div>
</md-toolbar>

<md-content>
	<ng-switch on="$ctrl.app.view">
		<ww-cart ng-switch-when="cart"></ww-cart>
		<ww-order ng-switch-when="product" product-id="$ctrl.foundId" partnumber="$ctrl.partnumber"></ww-order>
		<ww-home ng-switch-default></ww-home>
	</ng-switch>
</md-content>
