<nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navBar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>                        
        </button>
        <a class="navbar-brand" href="/"><img src="/images/wirewerks_logo.png" height="30" alt=""></a>
      </div>
      <div class="collapse navbar-collapse" id="navBar">
        <ul class="nav navbar-nav navbar-right">
          <!--<li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>-->
          <li><a ui-sref="cart"><span class="glyphicon glyphicon-shopping-cart"></span> BOM</a></li>
        </ul>
      </div>
    </div>
</nav> 
