<h1 class="logo md-headline"><img src="images/general/wirewerks-beta.png" width="60%"/></h1>

<md-content>
	<md-card class="products">
		<img src="images/general/products.png" class="md-card-image" ng-click="$ctrl.app.goToProducts()">
		<md-card-title ng-click="$ctrl.app.goToProducts()">
			<md-card-title-text>
				<span class="md-headline">Products</span>
				<span class="md-subhead">Search and order products</span>
			</md-card-title-text>
		</md-card-title>
		<!-- Put last products seen here ..
		<md-card-actions layout="row" layout-align="end center">
\			<md-button>Action</md-button>
		</md-card-actions>
		-->
	</md-card>
</md-content>