<h1 class="logo md-headline">Wirewerks</h1>

<md-content>
	<md-card class="products">
		<img src="images/general/products.png" class="md-card-image" ng-click="$ctrl.app.goToProducts()">
		<md-card-title ng-click="$ctrl.app.goToProducts()">
			<md-card-title-text>
				<span class="md-headline">Products</span>
				<span class="md-subhead">Search and order products</span>
			</md-card-title-text>
		</md-card-title>
		<md-card-actions layout="row" layout-align="end center">
			<!-- Put last products seen here ... -->
			<md-button>Action</md-button>
		</md-card-actions>
	</md-card>
</md-content>