<div class="content" ng-click="$ctrl.select()" ng-class="{selected: $ctrl.isSelected()}">
	<header ng-style="$ctrl.style()">
		<label ng-if="!$ctrl.shouldShowXIsDigit()">{{$ctrl.part.value}}{{$ctrl.part.finePrint}}</label>
		<md-input-container ng-if="$ctrl.shouldShowXIsDigit()">
			<label ng-if="$ctrl.part.inputValue">{{$ctrl.part.inputValue}}</label>
			<label ng-if="!$ctrl.part.inputValue">{{$ctrl.part.value}}</label>
			<input type="text" ng-model="$ctrl.inputValue" ng-change="$ctrl.valueChange()" ng-keypress="$ctrl.limit($event)" aria-label="value">
		</md-input-container>
	</header>

	<attributes>
		<attribute ng-repeat="attr in $ctrl.part.attributes">
			<label ng-class="{bold: attr.bold}">{{attr.label}}</label>
		</attribute>
	</attributes>

	<selection-overlay ng-class="$ctrl.isSelected() ? 'active' : 'inactive'">
		<border></border>
	</selection-overlay>
</div>
