<md-content class="md-padding">
	<md-tooltip>Enter the product part number</md-tooltip>
	<form ng-submit="$event.preventDefault()">

		<md-icon md-svg-icon="images/svg/general/search.svg" class="s32" aria-label="label"></md-icon>

		<md-autocomplete
			md-selected-item="$ctrl.selectedItem"
			md-require-match="true"
			md-autofocus="false"
			md-select-on-match="true"
			md-match-case-insensitive="true"
			md-search-text-change="$ctrl.searchTextChange($ctrl.searchText)"
			md-search-text="$ctrl.searchText"
			md-selected-item-change="$ctrl.selectedItemChange(item)"
			md-items="item in $ctrl.query($ctrl.searchText)"
			md-item-text="item"
			md-min-length="0"
			ng-keydown="$ctrl.keydown($event)"
			md-select-on-focus
			md-input-name="autocomplete"
			placeholder="Enter the product part number.">

			<md-item-template>
				<span md-highlight-text="$ctrl.searchText" md-highlight-flags="^i">{{item}}</span>
			</md-item-template>

			<md-not-found>
				No products matching "{{$ctrl.searchText}}" were found.
			</md-not-found>

		</md-autocomplete>

	</form>
</md-content>
