<div layout="column" ng-cloak>
	<section layout="row" flex>
		<md-sidenav class="md-sidenav-left" md-component-id="ww-nav-left" md-is-locked-open="$mdMedia('gt-md')" md-whiteframe="4">
			<ww-product-nav></ww-product-nav>
		</md-sidenav>


		<md-content class="product">
			<product-header>
				<h1 class="title md-display-3">{{$ctrl.product.title}}</h1>
				<h3 class="subtitle md-display-1">{{$ctrl.product.subTitle}}</h3>

				<div class="parts-description">
					<md-icon md-svg-src="images/svg/sections/{{$ctrl.product.section}}.svg" class="s64" ng-if="$ctrl.product.icon" aria-label="tmp"></md-icon>

					<div>
						<div class="description">{{$ctrl.product.description}}</div>
						<ww-order-number></ww-order-number>
					</div>
				</div>

				<md-button class="datasheet md-raised" ng-href="{{$ctrl.getDataSheetLink()}}" ng-if="$ctrl.product.dataSheetLink" target="_blank">Data sheet</md-button>
			</product-header>

			<ww-part-groups>
				<ww-part-group group="group" ng-repeat="group in $ctrl.validGroups()"></ww-part-group>
			</ww-part-groups>

			<p class="notes" ng-if="$ctrl.product.notes">{{$ctrl.product.notes}}</p>

			<p class="finePrints" ng-if="$ctrl.product.finePrints">{{$ctrl.product.finePrints}}</p>
		</md-content>
	</section>
</div>
